# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/

# Weights and Biases
weights/toxic_classifier_xlm-roberta-large

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyenv
.python-version

# pipenv
Pipfile.lock

# pyre type checker
.pyre/

# C extensions
*.so

# Backup files
*~
*.bak
*.tmp

#Logging
*.log